<% provide(:title, "about page")%>
<h1>StaticPages#about</h1>
<p>Find me in app/views/static_pages/about.html.erb</p>
<a href="http://google.com"> hey google</a>

<%= render "commonLinks"%>
<a href="home">home page</a>
<a href="help">help page</a>
