<% provide(:title, "help page")%>
<h1>StaticPages#help</h1>
<p>Find me in app/views/static_pages/help.html.erb</p>
<span> hey bro </span>
<%= render "commonLinks"%>
<a href="home">home page</a>
<a href="about">about page</a>
